<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form action="/getemp" autocomplete="on" method = "GET">

				<div>

			  		Employee ID:<br> {{ emp_id_output }} <br><br>

			  		First Name:<br> {{ fname }} <br><br>

			  		Last Name:<br> {{ lname }} <br><br>

			  		Primary Interest:<br> {{ emp_pri_skill_output }} <br><br>

			  		Location:<br> {{ emp_loc_output }} <br><br>

			  		Image URL: <br> {{ emp_img }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
